button {
    text-decoration: none;
    border-radius: 20;
    margin: 0 30px;
    width: auto;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    min-width: 60px;
}

.info {
    margin-top: 30px;
    margin-bottom: 30px;
}

#check {
    margin: 0 30px;
    width: auto;
    padding: 8px;
    flex-grow: 0;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}