.CardItem {
    width: 500px;
    margin: 0 auto;
    font-size: 10px;
}

.ItemHeader {
    justify-content: center;
    padding-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.Info {
    font-size: 20px;
    justify-content: space-around;
}

.Button {
    width: auto;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.ItemImg {
    height: 550px;
    object-fit: cover;
    object-position: center;
}

.row {
    padding-top: 40px;
}

#ending {
    margin: 15px;
}