.CartWidget {
    width: auto;
    padding: 4px 10px 4px 10px;
    flex: none;
    position: absolute;
    right: 5px;
}

.carritoLogo {
    margin-right: 10px;
    margin-left: 10px;
}

.CartWidget:hover {
    background-color:rgb(230, 230, 230);
    border-radius: 15px;
    transition: 0.7s;
}

.CartWidget:active {
    background-color: rgb(210, 210, 210);
}